body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

h1{
    color: rgb(0, 255, 247);
}

form{
    background-color: aliceblue;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid;
    border-radius: 4px;
    margin-bottom: 15px;
    
}

label{
    font-size: 1em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: aquamarine;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

button:hover{
    background-color: brown;
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}

