/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{  
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

}
html{
  font-size: 16px;
}

body{
   font-family: Roboto, serif;
   height: 100%;
   width: 100%;
  
}

.container{  
  display: -ms-grid;  
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
}

.container > *:nth-child(1){  
  -ms-grid-row: 1;  
  -ms-grid-column: 1;
}

.container > *:nth-child(2){  
  -ms-grid-row: 1;  
  -ms-grid-column: 2;
}

.container > *:nth-child(3){  
  -ms-grid-row: 1;  
  -ms-grid-column: 3;
}

.container > *:nth-child(4){  
  -ms-grid-row: 2;  
  -ms-grid-column: 1;
}

.container > *:nth-child(5){  
  -ms-grid-row: 2;  
  -ms-grid-column: 2;
}

.container > *:nth-child(6){  
  -ms-grid-row: 2;  
  -ms-grid-column: 3;
}

/* ---------------------------SIDEBAR------------------------------- */


.sidebar{
  /* width:16rem; */
  background-color: white;

  -ms-grid-row: 1;

  -ms-grid-row-span: 2;

  grid-row: 1 / 3;
  /* display: flex;
  flex-direction: column;
  gap:3rem; */
  display: -ms-grid;
  display: grid;
  gap:3rem;
  -ms-grid-rows: 3rem 3rem 20rem 3rem 7rem;
  grid-template-rows: 3rem 20rem 7rem;
  
}

.sidebar-head > img{
  height: auto;
  width: 2rem;
 /* filter:invert(1);    */
}

.sidebar-head > .title{
  color:black;
  font-size: 1.5rem;
}

.sidebar-head {
   /* display:flex;
  justify-content: flex-start;
  align-items: center; */
  padding: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 7fr;
  grid-template-columns: 1fr 7fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.menu, .menu-bot{    
  display: -ms-grid;    
  display: grid;  
}



.menu > li, .menu-bot > li{
  
  height: 3rem;
  padding-left: 15px;
  padding-right: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5rem 8fr;
  grid-template-columns: 1fr 8fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;

}

.menu > li:hover, .menu-bot > li:hover{
  cursor: pointer;
  /*background-color: rgba(90, 244, 244, 0.274);*/
  background: -webkit-gradient(linear, left top, right top, from(#edf8f8),color-stop(#d5f3f3), to(#75f3e6));
  background: -o-linear-gradient(left, #edf8f8,#d5f3f3, #75f3e6);
  background: linear-gradient(to right, #edf8f8,#d5f3f3, #75f3e6);

  
}

.menu > li > img, .menu-bot > li > img{
  width:1.3rem;
}

.menu > li > div, .menu-bot > li > div{
  color:black;
  font-size: 1.1rem;
  font-weight: 800;
}



/* ---------------------------HEADER------------------------------- */



.header{
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  background-color:rgb(255, 255, 255);
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center; */
  
  -webkit-box-shadow: 2px 2px 5px rgba(90, 90, 90, 0.671);
  
          box-shadow: 2px 2px 5px rgba(90, 90, 90, 0.671);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
}
.header > * {
  padding:1rem 3rem;
}

.header-search > img{
  -ms-grid-column-align: end;
      justify-self: end;
  
}

.header-search img, .info-top > .bell {
  width: 2.4rem;
  /*filter: brightness(0%);*/
 
}

.header-search{
  -webkit-box-flex:0;
      -ms-flex:0;
          flex:0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap:1.5rem;
  -ms-grid-column-align: start;
      justify-self: start;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  -ms-grid-columns: 1fr 1.5rem 1fr;
  grid-template-columns: 1fr 1fr;
  
}

.header-search input{
  background-color: rgb(170, 170, 170);
  width:30rem;
  border: none;
  border-radius: 4rem;
  height: 1.6rem;
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

.info-top{
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 3fr;
  grid-template-columns: 1fr 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-column-align: end;
      justify-self: end;
  gap:1rem;
}

.info-top > .avatar-small{
  width:3rem;
  border-radius: 50%;
}
.info-top > .nick-small{
  font-weight: 800;
  font-family: 'Cookie';
  font-size: 40px;
}



.info-bot{
  display: -ms-grid;
  display: grid;
  gap:0.6rem;
  -ms-grid-columns: 1fr 0.6rem 4fr;
  grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 1fr 0.6rem 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-column-align: start;
      justify-self: start;
}



.info-bot > *:nth-child(1){  
  -ms-grid-row: 1;  
  -ms-grid-column: 1;
}



.info-bot > *:nth-child(2){  
  -ms-grid-row: 1;  
  -ms-grid-column: 3;
}



.info-bot > *:nth-child(3){  
  -ms-grid-row: 3;  
  -ms-grid-column: 1;
}



.info-bot > *:nth-child(4){  
  -ms-grid-row: 3;  
  -ms-grid-column: 3;
}

.info-bot > .avatar-big{
  -ms-grid-row-align: center;
      align-self: center;
  width:4.5rem;
  border-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.info-bot > .bot-hi{
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size:0.8rem;
  font-weight: 800;
}

.info-bot > .nick-big{
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 1.3rem;
  font-weight: 900;
}

.buttons-bot{
  /* justify-items: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap:1rem; */
  -ms-grid-column-align: end;
      justify-self: end; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.5rem;
  

}
  

.buttons-bot > button{
  margin: 1rem 1rem;
  background-color: rgb(72, 255, 246);
  color:white;
  width: 6rem;
  height: 2rem;
  font-size:0.9rem;
  font-weight: 800;
  border: none;
  border-radius:20px;
}



/* ---------------------------MAIN CONTENT------------------------------- */



.main-content{
  padding: 1.5rem;
  background-color: rgb(209, 209, 209);   
}

.cards-main{
  display: -ms-grid;
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
 gap: 1.5rem;
 -webkit-box-align: stretch;
     -ms-flex-align: stretch;
         align-items: stretch;
}


.card .card-text{
  padding:0 2rem; 
  color: rgb(124, 124, 124);
  font-weight: normal;
  font-size: 0.8rem;
}

.cards-main .title {
  padding:1.5rem 2rem 0; 
    font-weight: 900;
  font-size: 1rem;
  
}

.card >.img-box > img{
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
  width: 1.3rem;
}

.img-box{
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.4rem 1fr;
  grid-template-columns: 1fr 1fr ;
  gap:1.4rem;
}



.main-head{
 
 padding: 1rem 0;
 font-weight: 800;
}
.main-content .card {
  position: relative;
  background-color: #FFFFFF;
  color: black;
  text-align: left;
  min-height: calc(125px + 7vw);
  border-radius: 7px;
  border-left: 7px solid rgb(2, 154, 255);
  -webkit-box-shadow:  2px 2px 5px rgba(90, 90, 90, 0.671);
          box-shadow:  2px 2px 5px rgba(90, 90, 90, 0.671);
}


/* ---------------------------RIGHT CONTENT------------------------------ */


.right-content{
  padding: 1.5rem 1rem 0 0;
  background-color:rgb(209, 209, 209);
  
}

.right-content .card{
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding:0.5rem;
  background-color: #FFFFFF;
  color: black;
  text-align: left;
  height: 328px;
  min-width:250px;
  border-radius: 7px;
  border: 15px solid rgb(255, 255, 255);
  -webkit-box-shadow:  2px 2px 5px rgba(90, 90, 90, 0.671);
          box-shadow:  2px 2px 5px rgba(90, 90, 90, 0.671);
}

.right-top .card-element:nth-child(1), .right-top .card-element:nth-child(2){
 
  border-bottom:1px solid rgb(231, 231, 231);   
}

.card-element{
  padding: 0.5rem;
}

.card-element  .title{
  font-size: 0.9rem;
}

.card-element .para{
  font-size: 0.8rem;
  color: rgb(95, 95, 95);
}

.right-header{
  padding: 1rem 0;
  font-weight: 900;
}



.right-bot .card-element{
  display: -ms-grid;
  display: grid;
  gap:0.4rem;
  -ms-grid-columns: 1fr 0.4rem 4fr;
  grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 1fr 0.4rem 1fr;
  grid-template-rows: 1fr 1fr;
  -ms-grid-column-align: start;
      justify-self: start;
}



.right-bot .card-element > *:nth-child(1){  
  -ms-grid-row: 1;  
  -ms-grid-column: 1;
}



.right-bot .card-element > *:nth-child(2){  
  -ms-grid-row: 1;  
  -ms-grid-column: 3;
}



.right-bot .card-element > *:nth-child(3){  
  -ms-grid-row: 3;  
  -ms-grid-column: 1;
}



.right-bot .card-element > *:nth-child(4){  
  -ms-grid-row: 3;  
  -ms-grid-column: 3;
}

.right-bot .title{
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.right-bot img{
  -ms-grid-row-align: center;
      align-self: center;
  width: 3rem;
  border-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}


/* ---------------------------FOR ANOTHER SCREENS------------------------------- */

@media only screen and (min-width: 1600px) {
  .header-search input{    
      width:45rem;
  }
}
@media only screen and (max-width: 1250px) {
  
  .info-bot{
      display: none;
      position: relative;
  }
  .header{
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }

  .header-search input{    
      width:20rem;
  }
  
   /* .container{
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 1fr 10fr 3fr;
  } */

  /* .header{
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
  }
  
  .main-content{
      grid-column: 2 / 3;
  }

  .right-content{
      grid-column: 2 / 3;
  }
  .sidebar{

      grid-row: 1 / 4;
  }  */

}
