body{padding-left: 25em;}
#section{
    /* border: 10px solid black; */
    background-color: white;
    display: block;
    width: fit-content;
    border-radius: 5px;
    
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#buttonContainer{
    text-align: center;
}

.Btn{
    padding: 10px  20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(82, 200, 218);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.Btn:hover{
    background-color: rgb(38, 113, 178);
}